ENV=dev

DB_DIALECT=postgresql
DB_DRIVER=psycopg
DB_USER=example_user
DB_PASS=example_password
DB_HOST=localhost
DB_NAME=mitly_db

DOCKER_COMMAND_FOR_CREATING_POSTGRE_CONTAINER="
docker run -d `
  --name postgre_local `
  -e POSTGRES_USER=example_user `
  -e POSTGRES_PASSWORD=example_password `
  -e POSTGRES_DB=mitly_db `
  -p 5432:5432 `
  postgres
"